.add-update-Brewery-container {
  background: url(../../Images/beer.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vmax;
  padding-top: 15%;
}

.background-container {
  background-color: rgb(255, 255, 255, .75);
  border-radius: 10px;
  padding: 2%;
  max-width: 500px;
  margin: 5%;
}

label {
  display: block;
}

#state {
  height: 35px;
  color: #730C02;
  display: block;
  width: 200px;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 7px;
  margin: 2%;
}

input {
  display: block;
  margin: 2%;
  height: 35px;
  width: 200px;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  border-radius: 5px;
  padding-left: 5px;
  color: #730C02;
}


button {
  display: inline-block;
  margin: 1%;
}
