.craft-sign {
  width: 100%;
  max-height: 250px;
  box-shadow: #BF4904 0px 5px 20px -10px;
}

.landing-container {
  color: ghostwhite;
  text-align: center;
  background: #0D0D0D;
  /* background: #2d2d2f; */
  height: 100vh;
}

h1 {
  padding-top: 5%;
  padding-bottom: 3%;
  margin: 0;
}

.app-desc {
  padding: 2% 10%;
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 600;
}

.disclaimer {
  margin: 6%;
  font-style: italic;
  margin: 0;
  padding: 5%;
}
