.beer-data-container {
  background: ghostwhite;
  /* background: #b6a27a; */
  color: #2d2d2f;
  text-align: center;
  margin: 0 auto;
}

.beerName-title {
  padding-bottom: 1%;
}

.beer-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 2%;
}

.column {
  flex-basis: 33%;
  text-align: center;
  min-width: 300px;
  padding: 4% 2%;
}

.brewery-img {
  height: 200px;
  width: auto;
  max-width: 300px;
  margin: 0 auto;
}

.hopsGlass {
  height: 350px;
  width: auto;
}

.glass {
  padding: 10px;
}

.oval {
  height: 15px;
  width: 65px;
  border: 1.5px solid black;
  border-radius: 50%;
  position: relative;
  top: 8px;
  z-index: 10;
  margin: 0 auto;
}

.trapezoid {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 65px;
  position: relative;
  margin: 0 auto;
}

.oval-bottom {
  height: 20px;
  width: 45px;
  border-radius: 50%;
  position: relative;
  bottom: 12px;
  margin: 0 auto;
}

.circle-container {
  display: flex;
  justify-content: center;
}

.circle-column {
  margin: 3%;
}

.circle {
  height: 5em;
  width: 5em;
  background-color: #527b23;
  border-radius: 50%;
  display: inline-block;
}

.circle-text {
  position: relative;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  top: 1.1em
}
