h1 {
  text-align: center;
}

input {
  display: block;
  margin: 1%;
}

label {
  display: block;
  margin: 1%
}

select {
  margin: 1%;
}

textarea {
  display: block;
  margin: 1%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2%
}

.columns {
  min-width: 300px;
  flex-basis: 33%;
  padding: 2%;
}


.right {
  order: 2;
  text-align: center;
}
