.add-update-Beer-container {
  background: url(../../Images/wheat_brown.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vmax;
  padding-top: 15%;
}

.back-container {
  background-color: rgb(255, 255, 255, .75);
  border-radius: 10px;
  padding: 2%;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  display: block;
  margin: 2%;
  height: 35px;
  width: 200px;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  border-radius: 5px;
  padding-left: 5px;
  color: #730C02;
}

label {
  display: block;
  margin-top: 5%
}

#beer_color {
  height: 35px;
  color: #730C02;
  display: block;
  width: 200px;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 5px;
  margin: 2%;
}

textarea {
  display: block;
  margin: 1%;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px;
  color: #730C02;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2%
}

.columns {
  min-width: 300px;
  flex-basis: 33%;
  padding: 2%;
}


.right {
  order: 2;
  text-align: center;
}
