footer {
  text-align: center;
  background-color: #2d2d2f;
  color: ghostwhite;
  height: 50px;
  padding: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer > p {
  margin: 0;
}
