.beer-list-container {
  background: url(../../Images/wheat_brown_tall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5%;
  height: 100vh;
}

h1 {
  text-align: center;
}

.filters {
  background-color: #777;
  height: 200px;
  padding: 2%;
  margin: 0;
}

select {
  display: block;
  margin: 1%;
  padding: 1%;
  width: 200px;
}

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 75px;
}

.list-links {
  text-align: center;
  padding: 2%;
}

.hidden {
  display: none;
}
