h1 {
  text-align: center;
}

.filters {
  background-color: #777;
  height: 200px;
  padding: 2%;
  margin: 0;
}

select {
  display: block;
  margin: 1%;
  padding: 1%;
  width: 200px;
}

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
