.top_button {
  position: absolute;
  top: 8px;
  right: 16px;
}

.hero-img {
  width: 100%;
  height: auto;
  max-height: 700px;
}

.img-container {
  position: relative;
  background-color: #b6a27a;
}
