.comment-container {
  background-color: #b6a27a;
  padding: 2%;
}

.comment_list {
  color: #2d2d2f;
}

.comment-title {
  color: #2d2d2f;
}

.comment {
  margin: 2% 0;
}

.user_name_display {
  font-style: italic;
}

.user_name {
  color: #2d2d2f;
}
