.comment-container {
  background-color: #2d2d2f;
  padding: 2%;
}

.comment_list {
  color: ghostwhite;
}

.comment-title {
  color: ghostwhite;
}

.comment {
  margin: 2% 0;
}

.user-name {
  font-style: italic;
}

.userName {
  color: ghostwhite;
}
